<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Apex Asia EMR (ver 1.0)</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        <link href="../../Content/kendoUI/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/kendoUI/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <link href="../../DayPilotTheme/calendar_white.css" rel="stylesheet" type="text/css" />
        <link href="../../DayPilotTheme/navigator_white.css" rel="stylesheet" type="text/css" />
        <link href="../../DayPilotTheme/areas.css" rel="stylesheet" type="text/css" />
       
       
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        
        <script src="../../Scripts/kendo.web.min.js" type="text/javascript"></script>
        <script src="../../Scripts/date.js" type="text/javascript"></script>
        <script src="../../Scripts/DayPilot/daypilot-all.min.js" type="text/javascript"></script>
        <script src="../../Scripts/simonHelperJScript.js" type="text/javascript"></script>
       
    </head>
    <body>
       <header>
           
           
        </header>
        <div id="body">   
         
            <section class="content-wrapper main-content clear-fix">
                <table width="100%">
                    <tr>
                        <td align="left">
                            @if (System.Configuration.ConfigurationManager.AppSettings["isDemo"] == "true")
                            {   <div style="color:Silver; border: 1px solid Silver; text-align:center; width:300px;">
                                <h1 style="color:Silver;">Your Logo will be Here!</h1>
                                </div>
                            }
                            else
                            {
                                <img src="../../Images/ApexAsiaLogo.jpg" alt="Apex Asia Logo" />
                            }
                        </td>
                        <td><h3>Electronic Medical Records (EMR) System</h3></td>
                        <td>
                             @*<input type="button" id="enableChromeNotification" value="Please click this button to enable Notification" />*@
                             @if (Request.IsAuthenticated)
                             {
                                 ApexAsiaDAL.DAL dal = new ApexAsiaDAL.DAL();
                                 string fullName = dal.GetFullNameByUsername(User.Identity.Name);
                                 if (String.IsNullOrEmpty(fullName)) { fullName = User.Identity.Name; }
                                <text>
                                    <b style="color:#F79123;">Welcome, @fullName</b>
                                   
                                        @{
                                 string result = string.Empty;
                                 string[] myroles = Roles.GetRolesForUser(User.Identity.Name);
                                 if (myroles.Length > 0)
                                 {
                                     for (int i = 0; i < myroles.Length; i++)
                                     {
                                         result += myroles[i] + " ";
                                     }
                                 }
                                          }
                                        <b style=" color:#0D4C8F;">( @result )</b> 
                                        
                                     
                                    @using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                    }
                                </text>
                             }
                        </td>
                        
                    </tr>
                </table>
              
                <div>
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            Html.RenderPartial("_kendoMenuPartial");
                        }
                        else
                        {
                            if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("Manager") || Roles.IsUserInRole("SuperAdmin"))
                            {
                                Html.RenderPartial("_kendoAdminMenuPartial");

                            }
                            else if (Roles.IsUserInRole("FrontDesk"))
                            {
                                Html.RenderPartial("_kendoFrontDeskMenuPartial");

                            }
                            else if (Roles.IsUserInRole("Nurse"))
                            {
                                Html.RenderPartial("_kendoNurseMenuPartial");

                            }
                            else if (Roles.IsUserInRole("Physician"))
                            {
                                Html.RenderPartial("_kendoPhysicianMenuPartial");
                            }
                        }
                    }
                      
                   
                </div>

                
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div style=" text-align:center;">
                    <p>&copy; @DateTime.Now.Year - Apex Asia Medical Center. Designed & Developed by Simon CyberTech & FutureAdvanceTech</p>
                    <a href="http://www.simoncybertech.com/"><img src="../../Images/PoweredBySCT.png" alt="Powered by Simon Cyber Tech, USA" /></a>
                    <a href="http://www.fa-tech.com"><img src="../../Images/PoweredByFAT.gif" alt="Powered by FutureAdvanceTech" /></a>
                </div>
            </div>
        </footer>
        
       
        
        
            
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
//            var timerHandle = setInterval(function () { timeIsUp() }, 10 * 60 * 1000);
//            function timeIsUp() {
//                //alert("60s up");
//                showChromeToaster();
//            }
            $(document).ready(function () {
                $("#menu").kendoMenu();
                
//                $("#enableChromeNotification").hide();
//                var havePermission = window.webkitNotifications.checkPermission();
//                if (havePermission !== 0) {
//                    $("#enableChromeNotification").show();
//                }
//                $("#enableChromeNotification").click(function () {
//                    //  SIMON NOTE: WE NEED TO REQUEST webkitNotifications FIRST!!!
//                    window.webkitNotifications.requestPermission();
//                    $("#enableChromeNotification").hide();
//                });

                
            });
        </script>
       
    </body>
</html>
